body {
    /* font-family: "Times New Roman"; */
    font-family: 'Roboto Slab', serif;
}
.col-md-4 h4 {
    padding: 0 30px;
}
.main-header h3, h2{
    /*font-family: "Arial";*/
    /*font-family: 'Roboto Slab', serif;*/
    font-family: 'Open Sans', sans-serif;
    margin-top: 4px;
    margin-bottom: 4px;

}

.slider-container{
    padding: 30px;
}

.estimated span{
    /*font-family: "Arial";*/
    font-family: 'Open Sans', sans-serif;
    font-size: 1.8em;
    display: inline-block;
    padding: 5px .2em;
}

.box {
    background:#fff;
    transition:all 0.2s ease;
    border:2px dashed #dadada;
    margin-top: 10px;
    box-sizing: border-box;
    border-radius: 5px;
    background-clip: padding-box;
    padding:0 20px 20px 20px;
    min-height:340px;
}

.box:hover {
    border:2px solid #525C7A;
}

.box span.box-title {
    color: #fff;
    font-size: 24px;
    font-weight: 300;
    text-transform: uppercase;
}

.box .box-content {
    padding: 16px;
    border-radius: 0 0 2px 2px;
    background-clip: padding-box;
    box-sizing: border-box;
}
.box .box-content p {
    color:#515c66;
    text-transform:none;
}

.output {
    font-size: 18px;
    font-weight: bold;
}
